<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGS</title>
</head>
<body>
    <a href="/display"><button>Display blogs</button></a><br>
    <form action="/add" method="POST">
        <label for="owner">Owner Name:</label><br>
        <input type="text" id="owner" name="owner" placeholder="Owner name here"><br>
        <label for="blogname">Blog Name:</label><br>
        <input type="text" id="blogname" name="blogname" placeholder="Blog name here"><br>
        <label for="blogdetail">Blog Detail:</label><br>
        <textarea type="text" id="blogdetail" name="blogdetail" placeholder="Blog detail here"></textarea><br>
        <!-- <textarea id ="cdes" name="cdes" rows = "4" cols="50" placeholder="course description here"></textarea> -->
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>